*/.idea/*
*/target/*
spring-boot-actuator/.idea/
spring-boot-banner/.idea/
spring-boot-banner/target/
spring-boot-helloWorld/.idea/
spring-boot-jpa-thymeleaf-curd/.idea/
spring-boot-jpa-thymeleaf-curd/target/
spring-boot-helloWorld/target/
spring-boot-actuator/target/
spring-boot-commandLineRunner/.idea/
spring-boot-docker/.idea/
spring-boot-commandLineRunner/target/
